@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}

img , a{
  width: 100%;
  height: 100%;
}
a, ul, li, input{
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: rgb(238, 238, 238);
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  padding: 5px 0;
  background-color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
      width: 130px;
    }
    .menu {
      padding: 0 5px;
      &__list {
        display: flex;
        &-item {
          padding: 15px 40px;
          &:hover {
            border-bottom: 1px solid rgb(62, 83, 202);
          }
        }
        &-link {
          font-size: 15px;
          font-weight: 700;
          color: rgb(128, 115, 192);
          &:hover {
            color: rgb(62, 83, 202);
          }
        }
      }
    }
    
  }
}

.main {
  font-family: 'Lato', sans-serif;
  padding-bottom: 200px;
  &__title {
    color: #000;
    margin-top: 65px;
    padding: 60px 0 40px 0;
    text-align: center;
    font-size: 46px;
    font-weight: 500;
  }
}

.main__searchfield {
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  &-categories {
    min-width: 295px;
  }
  &-search {
    min-width: 360px;
    padding-right: 15px;
  }
  .input {
    padding: 5px 10px;
    font-size: 16px;
    font-family: inherit;
    width: 100%;
    border: 1px solid rgba(46, 46, 46, 0.4);
    opacity: 0.7;
  }
}

.main__content {
  &-title {
    font-size: 25px;
    &.second {
      margin-top: 100px;
    }
    &.third {
      margin-top: 100px;
    }
  }
  
}

.main__row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  &.secondary {
    margin-top: 70px;
  }

  &-col {
    flex-basis: 20%;
    height: 215px;
    padding: 10px 15px 0 0;
    .row-text {
      font-size: 14px;
      font-family: inherit;
      opacity: 0.8;
    }
  }
}

.footer {
  background-color: rgb(35, 30, 41);
  height: 350px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  &__logo {
    img {
      width: 150px;
    }
    p {
      margin-top: -15px;
      font-size: 14px;
      color: #fff;
    }
  }
}

.footer__nav__wrapper {
  display: flex;
  .footer__nav {
    margin-right: 150px;
    &__list {
      flex-direction: column;
    }
  }
  
}

.nav__list-item {
  padding-bottom: 20px;
}

.nav__list-link {
  color: #fff;
}

.footer__nav {
  &__list {
    display: flex;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-contacts {
    padding-left: 30px;
  }
  &-community {
    padding-left: 30px;
    margin-top: 45px;
  }
  &-title {
    margin-bottom: 5px;
  }
  &-serves {
    display: flex;
    margin-top: 50px;
    p {
      font-size: 14px;
      padding-left: 15px;
    }
  }
  p {
    color: #fff;
  }
}


.footer__links-link {
  margin-right: 6px;
  img {
    width: 25px;
    height: 25px;
  }
}

